// mixins
@mixin display-flexbox(
	$display: flex,
	$flow: row,
	$wrap: nowrap,
	$justify-content: flex-start,
	$align-content: stretch,
	$align-items: stretch) {
	display: $display;
	flex-flow: $flow $wrap;
	justify-content: $justify-content;
	align-content: $align-content;
	align-items: $align-items;
}
