.header-nav-login {
	display: none;
}

.header-nav-bar {
	display: block;
}

#nav {
	display: none;
}

#main, .main-articles {
	border: 0;
}

.main-aside {
	display: none;
}

#footer {
	display: none;
}
