.dropdown {
	display: block;
	border: none;
}

.dropdown:hover .dropdown-menu { display: flex; }

#nav .dropdown .button { font-size: 1.5em; }

.dropdown-menu {
	position: absolute;
	display: none;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.dropdown-menu .button { padding: 6px; }

.nav-menu-ext { display: none; }

#main {
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
}

.main-articles {
	flex: 0 1 auto;
	border-right: 0;
	border-bottom: 1px solid black;
}

.main-articles-post:first-child { margin-top: 2em; }
.main-articles-post:last-child { margin-bottom: 2em; }

.main-aside {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: center;

	flex: 0 1 auto;
}

.main-aside-banner {
	margin: 2em 0;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
