/*
	Misc
*/
body {
  font-family: Helvetica;
  background-color: white;
  height: 100%; }

.button {
  display: inline-block;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center; }
  .button:hover {
    cursor: pointer;
    background-color: #eeeeee; }
  .button:active {
    color: red; }

.no-style-list, #nav ul, #nav #dropdown ul, #footer section ul, #aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.img-banner {
  max-width: 128px;
  border: 1px solid black; }

/*
	Header
*/
#header {
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: space-around;
  -webkit-align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 2%;
  background-color: white; }
  #header h1 {
    -webkit-flex: 8 1 auto;
    flex: 8 1 auto;
    font-size: 5em;
    margin: 0; }
  #header nav {
    -webkit-flex: 2 1 auto;
    flex: 2 1 auto;
    font-size: 1.5em;
    text-align: center; }

#headerNavBar {
  display: none;
  padding: 6px; }

/*
	Navigator
*/
#nav {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: white;
  width: 100%;
  margin: 0 auto; }
  #nav .button {
    font-size: 1.5em;
    padding: 6px; }
  #nav ul {
    display: -webkit-inline-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: center;
    -webkit-align-content: center;
    -webkit-align-items: center;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 1em 0 1em 0; }
    #nav ul li {
      border-right: 1px solid black;
      padding: 0 4px; }
      #nav ul li:last-child {
        border: 0; }
    #nav ul:last-child {
      border: 0; }
  #nav #dropdown {
    display: none; }
    #nav #dropdown ul {
      display: -webkit-flex;
      -webkit-flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -webkit-align-content: flex-start;
      -webkit-align-items: flex-start;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      position: absolute; }
      #nav #dropdown ul.show {
        visibility: visible; }
      #nav #dropdown ul.hide {
        visibility: hidden; }
      #nav #dropdown ul li {
        border: none;
        padding: 0; }

/*
	Main
*/
#main {
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  background-color: white;
  margin: 2em 0; }
  #main section {
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    -webkit-justify-content: center;
    -webkit-align-content: center;
    -webkit-align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    -webkit-flex: 8 1 auto;
    flex: 8 1 auto;
    border-right: 1px solid black; }
    #main section article {
      display: -webkit-flex;
      -webkit-flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -webkit-align-content: stretch;
      -webkit-align-items: stretch;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      border: 1px solid lightgray;
      padding: 10px;
      margin: 0 10% 2em 10%; }
      #main section article:last-child {
        margin-bottom: 0; }
      #main section article header, #main section article figure, #main section article footer {
        margin: 0;
        padding: 0; }
      #main section article header {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto; }
        #main section article header h1 {
          margin: 0;
          padding: 0; }
      #main section article figure {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        text-align: center; }
      #main section article footer {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        text-align: right; }
        #main section article footer .button {
          font-size: 1.5em; }
  #main aside {
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    -webkit-flex: 2 1 auto;
    flex: 2 1 auto; }
    #main aside div {
      display: -webkit-flex;
      -webkit-flex-flow: row nowrap;
      -webkit-justify-content: center;
      -webkit-align-content: center;
      -webkit-align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 0 auto 2em auto; }

/*
	Footer
*/
#footer {
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  -webkit-justify-content: center;
  -webkit-align-content: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  border-top: 1px black solid; }
  #footer .button {
    padding: 5px 0;
    width: 5em; }
  #footer section {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 1.5em 0;
    text-align: center; }
    #footer section ul li:first-child {
      font-weight: bold; }
    #footer section:first-child {
      margin-left: 10%; }
    #footer section:last-child {
      margin-right: 10%;
      border-right: 0; }

#aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 201px;
  height: 100%;
  border-left: 1px solid black;
  background-color: white;
  transition: right 0.5s; }
  #aside ul {
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -webkit-align-content: center;
    -webkit-align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    position: absolute; }
    #aside ul ul {
      display: -webkit-flex;
      -webkit-flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -webkit-align-content: flex-start;
      -webkit-align-items: flex-start;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      position: relative;
      overflow: hidden;
      transition: all 1s; }
      #aside ul ul.show {
        max-height: 150px;
        visibility: visible; }
      #aside ul ul.hide {
        max-height: 0;
        visibility: hidden; }
    #aside ul .button {
      border-bottom: 1px solid black;
      text-align: center;
      width: 190px;
      font-size: 1.5em;
      padding: 5px; }
    #aside ul li:last-child {
      border: 0; }
  #aside.show {
    right: 0; }
  #aside.hide {
    right: -202px; }

@media (max-width: 768px) {
  #nav #dropdown {
    display: block;
    border: none; }
  #nav #navMenuExt {
    display: none; }

  #main {
    display: -webkit-flex;
    -webkit-flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -webkit-align-content: stretch;
    -webkit-align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin: 0; }
    #main section {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      border-right: 0;
      border-bottom: 1px solid black; }
      #main section article:first-child {
        margin-top: 2em; }
      #main section article:last-child {
        margin-bottom: 2em; }
    #main aside {
      display: -webkit-flex;
      -webkit-flex-flow: row nowrap;
      -webkit-justify-content: space-around;
      -webkit-align-content: center;
      -webkit-align-items: stretch;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-content: center;
      align-items: stretch;
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto; }
      #main aside div {
        display: -webkit-flex;
        -webkit-flex-flow: row nowrap;
        -webkit-justify-content: center;
        -webkit-align-content: flex-start;
        -webkit-align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        margin: 2em 0; } }
@media (max-width: 480px) {
  #headerNavLogin {
    display: none; }

  #headerNavBar {
    display: block; }

  #nav {
    display: none; }

  #main {
    border: 0; }
    #main section {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      border: 0; }
    #main aside {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      display: none; }

  #footer {
    display: none; } }

/*# sourceMappingURL=style.css.map */
